accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
attrs
bidict
bitsandbytes
botorch
certifi
charset-normalizer
click
colorama
contourpy
cycler
docutils
fastapi
filelock
fonttools
frozenlist
fsspec
gpytorch
h11
httpcore
httptools
httpx
hydra-core
idna
ifaddr
importlib_metadata
itsdangerous
jaxtyping
Jinja2
joblib
kiwisolver
linear-operator
markdown2
MarkupSafe
matplotlib
mpmath
multidict
multipledispatch
networkx
nicegui==2.7.0
numpy
omegaconf
opt_einsum
orjson
packaging
pillow
propcache
pscript
psutil
pydantic
pydantic_core
Pygments
pyparsing
pyro-api
pyro-ppl
python-dateutil
python-dotenv
python-engineio
python-multipart
python-socketio
PyYAML
regex
requests
safetensors
scikit-learn
scipy
simple-websocket
six
sniffio
starlette
sympy
threadpoolctl
tokenizers
tqdm
transformers
typeguard
typing_extensions
urllib3
uvicorn
uvloop
vbuild
watchfiles
websockets
wsproto
yarl
zipp
plotly
huggingface-hub
onnx
onnxscript
onnxruntime-gpu
torchvision
diffusers
peft
xformers
torch
